__pycache__/
*.pyc
/target/
Cargo.lock
python/logbrew_py/build/
python/logbrew_py/dist/
python/logbrew_py/src/*.egg-info/
python/logbrew_fastapi/build/
python/logbrew_fastapi/dist/
python/logbrew_fastapi/src/*.egg-info/
python/logbrew_django/build/
python/logbrew_django/dist/
python/logbrew_django/src/*.egg-info/
php/logbrew-php/vendor/
php/logbrew-php/composer.lock
dotnet/logbrew-dotnet/**/bin/
dotnet/logbrew-dotnet/**/obj/
dotnet/logbrew-dotnet/**/*.nupkg
unity/logbrew-unity/**/bin/
unity/logbrew-unity/**/obj/
unity/logbrew-unity/**/*.tgz
kotlin/logbrew-kotlin/build/
kotlin/logbrew-kotlin/.gradle/
kotlin/logbrew-kotlin/**/*.jar
c/logbrew-c/build/
c/logbrew-c/examples/build/
c/logbrew-c/**/*.o
c/logbrew-c/**/*.a
cpp/logbrew-cpp/build/
cpp/logbrew-cpp/examples/build/
cpp/logbrew-cpp/**/*.o
cpp/logbrew-cpp/**/*.a
objc/logbrew-objc/build/
objc/logbrew-objc/examples/build/
objc/logbrew-objc/**/*.o
objc/logbrew-objc/**/*.a
